@import "variables.styles.css";

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background: var(--main-gradient);
    color: white;
    font-size: var(--normal-font-size);
}

#navbar-logo {
    display: flex;
    align-items: center;
    font-size: var(--small-normal-font-size);
    height: fit-content;
    margin-left: var(--distance-from-border);
    cursor: pointer;
}

#navbar-logo-image {
    width: 5vh;
    height: 5vh;
    background-color: black;
    margin-right: 0.8vh;
}

#navbar-pages {
    display: flex;
    justify-content: flex-end;
    margin-right: var(--distance-from-border);
}

.navbar-icons {
    width: 3vh;
    height: 3vh;
    margin-right: 1vh;
}

.navbar-page {
    display: flex;
    align-items: center;
    margin-left: 3vh;
}

.navbar-page:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

#navbar-page-login {
    display: none;
}

#navbar-myprofile-arrow {
    margin-left: 0.5vh;
    width: 2.2vh;
    height: 2.2vh;
    transform: rotate(90deg);
}