@import "variables.styles.css";


/* MAIN BLOCK */

#offers-mainblock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#offers-mainblock-filters {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#offers-mainblock-filters-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#offers-mainblock-filters-manage, 
#offers-mainblock-addoffer {
    display: flex;
    align-items: center;
    font-size: var(--normal-font-size);
    padding: 2vh;
}

#offers-mainblock-filters-manage:hover, 
#offers-mainblock-addoffer:hover {
    opacity: 0.7;
    cursor: pointer;
}

#offers-mainblock-filters-manage > img {
    width: 5vh;
    height: 5vh;
    margin-right: 1vh;
}

#offers-mainblock-filters-foundCount {
    font-size: var(--large-font-size);
}

#offers-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

#offers-wrapper-changepages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

.offers-wrapper-arrows {
    width: 3vh;
    height: 3vh;
    margin: 0vh 4vh;
}

.offers-wrapper-arrows:hover {
    cursor: pointer;
}

#offers-wrapper-arrowleft {
    transform: rotate(180deg);
    margin-left: 0px;
}

#offers-wrapper-arrowright {
    margin-right: 0px;
}

#offers-wrapper-pages {
    font-size: var(--extra-large-font-size);
}

#offers-wrapper-pages > a {
    margin: 0vh 1vh;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#offers-wrapper-pages > a:visited {
    color: black;
}

#offers-wrapper-pages > a#offers-wrapper-pages-current {
    color: blueviolet;
}

#offers-wrapper-pages-current:hover {
    cursor:auto;
}

#offers-wrapper-doublearrow-right {
    transform: rotate(90deg);
    margin-left: 0px;
}

#offers-wrapper-doublearrow-left {
    transform: rotate(-90deg);
    margin-right: 0px;
}

/* FILTERS */

#offers-filters {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#offers-filters-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    height: auto;
    background-color: var(--main-background);
    margin-bottom: 10vh;
    border-radius: 1vh;
    padding: 3vh;
}

#offers-filters-block-title {
    display: flex;
    justify-content: space-between;
    font-size: var(--extra-large-font-size);
    height: auto;
    width: 100%;
    height: 2vh;
    margin-bottom: 4vh;
}

.offers-filters-block-filter {
    width: 30vh;
    display: flex;
    flex-direction: column;
    margin: 1vh;
}

.offers-filters-block-filter-title {
    font-size: var(--small-large-font-size);
}

.offers-filters-block-filter > input, .offers-filters-block-filter > select {
    width: 92%;
    height: 6vh;
    border-radius: 1vh;
    border: none;
    outline: none;
    padding: 0vh 1vh;
}

.offers-filters-block-filter-doubleinput  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.offers-filters-block-filter-doubleinput > input {
    width: 42%;
    height: 6vh;
    border-radius: 1vh;
    border: none;
    outline: none;
    padding: 0vh 1vh;
}

#offers-mainblock-filters-show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1vh;
}

.offers-mainblock-filter {
    background-color: white;
    width: auto;
    padding: 1vh 2vh;
    margin: 0.5vh 1vh;
    border-radius: 1vh;
}

#offers-mainblock-addoffer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--normal-font-size);
}

#offers-mainblock-addoffer > img {
    width: 4vh;
    height: auto;
}