@import "variables.styles.css";

/* SEARCH BAR */

#offers-searchBar-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-lightgray);
    height: 30vh;
    width: 100%;
}

#offers-searchBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 75%;
    height: 8vh;
    border-radius: 1vh;
}

#offers-searchBar-icon {
    width: 5vh;
    height: 5vh;
    margin-left: 1vw;
}

#offers-searchBar-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    height: 8vh;
}

#offers-searchBar-searchInput {
    font-size: var(--small-normal-font-size);
    opacity: 0.5;
    margin-left: 1vw;
    border: none;
    flex-grow: 1;
    padding: 0;
    height: 8vh;
    padding-left: 3vh;
}

#offers-searchBar-searchInput:focus {
    border: none;
    outline: none;
}

#offers-searchBar-Search {
    appearance: none;
    width: 15vh;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 0;
    background-color: var(--main-gradient);
    border-radius: 1vh;
}

#offers-searchBar-Search:hover {
    cursor: pointer;
}

#offers-searchBar-hr {
    height: 100%;
    border: 0.05vh solid var(--main-lightgray);
}



/* MAIN BLOCK */

#offers-mainblock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#offers-mainblock-filters {
    display: flex;
    width: 70%;
}

#offers-mainblock-filters-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#offers-mainblock-filters-manage {
    display: flex;
    align-items: center;
    font-size: var(--normal-font-size);
    padding: 2vh;
}

#offers-mainblock-filters-manage:hover {
    opacity: 0.7;
    cursor: pointer;
}

#offers-mainblock-filters-manage > img {
    width: 5vh;
    height: 5vh;
    margin-right: 1vh;
}

#offers-mainblock-filters-foundCount {
    font-size: var(--large-font-size);
}

#offers-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

#offers-wrapper-changepages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

.offers-wrapper-arrows {
    width: 3vh;
    height: 3vh;
    margin: 0vh 4vh;
}

.offers-wrapper-arrows:hover {
    cursor: pointer;
}

#offers-wrapper-arrowleft {
    transform: rotate(180deg);
    margin-left: 0px;
}

#offers-wrapper-arrowright {
    margin-right: 0px;
}

#offers-wrapper-pages {
    font-size: var(--extra-large-font-size);
}

#offers-wrapper-pages > a {
    margin: 0vh 1vh;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#offers-wrapper-pages > a:visited {
    color: black;
}

#offers-wrapper-pages > a#offers-wrapper-pages-current {
    color: blueviolet;
}

#offers-wrapper-pages-current:hover {
    cursor:auto;
}

#offers-wrapper-doublearrow-right {
    transform: rotate(90deg);
    margin-left: 0px;
}

#offers-wrapper-doublearrow-left {
    transform: rotate(-90deg);
    margin-right: 0px;
}