@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

:root {
    --distance-from-border: 4vw;

    /*FONT SIZES*/
    --navbar-font-size: 2.5vh;
    --logo-font-size: 2vh;
    --footer-font-size: 3.5vh;
    --footer-logo-font-size: 3.5vh;
    --footer-pages-font-size: 2vh;

    /*COLORS*/
    --main-gradient: rgb(112,3,151) linear-gradient(90deg, rgba(112,3,151,1) 0%, rgba(103,12,175,1) 17%, rgba(63,38,148,1) 41%, rgba(29,39,145,1) 67%, rgba(0,16,188,1) 86%, rgba(29,46,237,1) 100%);
    --footer-background: #141B66;
    --footer-bottom-line: #686868;
}

body {
    margin: 0px;
}

* {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}